/* Use a more readable and common font stack with a fallback option */
body {
  font-family: 'Verdana', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #f7f7f7; /* Add a light background color to the body */
}

.chat-container {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  color: #333; /* Use a more neutral text color */
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 20px; /* Increase top margin for better spacing */
}

.chat-header {
  background-color: #007bff; /* Use a modern color */
  color: white;
  padding: 10px; /* Increase padding for better spacing */
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.chat-messages {
  padding: 10px;
  overflow-y: scroll;
  max-height: 50vh;
}

.user-message, .bot-message {
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}

.bot-message {
  background-color: #f0f0f0; /* Use a subtle background color for bot messages */
  text-align: left;
}

.user-message {
  background-color: #007bff; /* Use a modern color for user messages */
  text-align: right;
  color: white;
}

.message-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  resize: none;
  outline: none;
  font-size: 16px;
}

.send-button {
  display: block;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold; /* Make the text bolder */
}

/* Improved suggestion buttons */
.suggestion-button, .exp-btn, .abt-btn {
  background-color: #4caf50; /* Use a green color for suggestions */
  color: white;
  border: none;
  padding: 5px 10px; /* Increase padding for better appearance */
  cursor: pointer;
  font-size: 14px; /* Increase font size for better readability */
  margin: 3px;
  border-radius: 5px;
}

.suggest-box, .doc-box {
  width: 100%;
  padding: 10px;
  border: 2px solid #007bff; /* Use a modern color for borders */
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

.w-box {
  padding: 10px;
}

.bottom-box {
  display: flex; /* Align items horizontally */
  justify-content: center; /* Center text horizontally */
  align-items: center;
  text-align: center;
  margin-bottom: 20px; /* Increase bottom margin for better spacing */
  padding:5px;
}
